#!ipxe

set base-url {{ firmware_server }}

{% if boot == 'flatcar' %}
kernel ${base-url}/flatcar/flatcar_production_pxe.vmlinuz initrd=flatcar_production_pxe_image.cpio.gz flatcar.first_boot=1 ignition.config.url={{ config_url }}
initrd ${base-url}/flatcar/flatcar_production_pxe_image.cpio.gz

{% elif boot == 'ubuntu2004' %}
kernel ${base-url}/ubuntu/vmlinuz initrd=initrd autoinstall ip=dhcp url=${base-url}/ubuntu/20.04.5/ubuntu-20.04.5-live-server-amd64.iso ds=nocloud-net;s={{ config_url }}/
initrd ${base-url}/ubuntu/initrd

{% elif boot == 'ubuntu2204' %}
kernel ${base-url}/ubuntu/vmlinuz initrd=initrd autoinstall ip=dhcp url=${base-url}/ubuntu/22.04.1/ubuntu-22.04.1-live-server-amd64.iso ds=nocloud-net;s={{ config_url }}/
initrd ${base-url}/ubuntu/initrd

{% elif boot == 'debian11' %}
kernel ${base-url}/debian/11/vmlinuz initrd=initrd preseed/url={{ config_url }}
initrd ${base-url}/debian/11/initrd

{% elif boot == 'proxmox72' %}
kernel ${base-url}/proxmox/7.2/linux26 initrd=initrd vga=791 video=vesafb:ywrap,mtrr ramdisk_size=16777216 rw quiet splash=silent
initrd ${base-url}/proxmox/7.2/initrd

{% elif boot == 'proxmox73' %}
kernel ${base-url}/proxmox/7.3/linux26 initrd=initrd vga=791 video=vesafb:ywrap,mtrr ramdisk_size=16777216 rw quiet splash=silent
initrd ${base-url}/proxmox/7.3/initrd
{% endif %}
boot
